.about {
	width: 1134px;
	height: 749px;

	padding: 0 206px 0 100px;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;

	font-family: Montserrat;
	color: #705a66;

	.aboutMobileText {
		font-family: Alumni Sans;
		font-size: 80px;
		font-weight: 600;
		line-height: 80px;
		text-align: center;

		display: none;
	}

	.aboutImg {
		width: 499px;
	}

	.aboutContainer {
		width: 499px;
		height: 430px;

		margin-bottom: 54px;

		position: relative;

		.aboutNameImg {
			position: absolute;

			top: -187px;
			left: -106px;
		}

		.aboutWho {
			width: 393px;
			height: 62px;

			display: flex;
			justify-content: space-between;
			flex-direction: column;

			margin-bottom: 56px;

			.aboutName {
				font-size: 24px;
				font-weight: 300;
				line-height: 32px;
			}

			.aboutWhoText {
				font-size: 16px;
				font-weight: 300;
				line-height: 22px;
			}
		}

		.aboutDescription {
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
		}
	}
}

@media (max-width: 375px) {
	.about {
		flex-direction: column;

		width: 355px;
		height: 1143px;

		padding: 0;
		margin: 0 auto;

		.aboutMobileText {
			display: block;
		}

		.aboutWho {
			text-align: center;
		}

		.aboutImg {
			width: 355px;
		}

		.aboutContainer {
			height: 434px;
			width: 355px;

			.aboutNameImg {
				display: none;
			}
		}

		.aboutWho {
			height: 50px;
		}

		.aboutDescription {
			width: 355px;
			height: 352px;
		}
	}
}
