.about {
	width: 1134px;
	height: 749px;

	margin: 0 206px 0 100px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;

	font-family: Montserrat;
	color: #705a66;

	.aboutImg {
		width: 499px;
	}

	.aboutContainer {
		width: 499px;
		height: 430px;

		margin-bottom: 54px;

		position: relative;

		.aboutNameImg {
			position: absolute;

			top: -187px;
			left: -106px;
		}

		.aboutWho {
			width: 393px;
			height: 62px;

			display: flex;
			justify-content: space-between;
			flex-direction: column;

			margin-bottom: 56px;

			.aboutName {
				font-size: 24px;
				font-weight: 300;
				line-height: 32px;
			}

			.aboutWhoText {
				font-size: 16px;
				font-weight: 300;
				line-height: 22px;
			}
		}

		.aboutDescription {
			font-size: 18px;
			font-weight: 300;
			line-height: 24px;
		}
	}
}

@media (max-width: 375px) {
	.about {
		flex-direction: column;
	}
}
