.container {
  border: 3px solid red;
  height: 50px;
  .katalog {
    padding-bottom: 50px;
  }
  .about_me {
  }
}

.Logo {
  width: 50px;
  height: 100px;
}

.Shopping {
  height: 50px;
  width: 50px;
}
